<%= form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :gmaps %><br />
    <%= f.check_box :gmaps %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </p>
  <p><%= f.submit %></p>
<% end %>
