<div id="sitetitle"><% title "GoTrain4.com" %></div>

<body>

<%= form_tag events_path, :method => :get do %>
  <p>
    Search Near <%= text_field_tag :search, params[:search] %> within 
    <%= select_tag :search_dist, options_for_select(["5 miles","10 miles","25 miles","50 miles"],
    :selected => params[:search_dist]) %>
	<%= submit_tag "Submit", :name => nil %>
    
    
<% end %>
	
<br />
<div class="map_header">
Search results near <%= params[:search] %> within <%= params[:search_dist] %>
<br />
</div>

<%= gmaps4rails(@markers) %>

<br /><br />
<table class="hovertable">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Start Time</th>
    <th >Description</th>
    <th>Info URL</th>
    
    
  </tr>
  <% for event in @events %>
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
      <td><%= event.name %></td>
      <td><%= event.address %></td>
      <td><%= event.start.strftime('%A') + ' at ' + event.start_time.strftime('%I:%M %p') %></td>
      <td class="coldesc"><%= event.description %></td>
      <td><a href="<%= event.info_url %>"><%= event.name %></a></td>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_event_path %></p>
</body>
