<div id="sitetitle"><% title "GoTrain4.com" %></div>

<body>

<p>
  <strong>Name:</strong>
  <%= @event.name %><br />
  <strong>Address:</strong>
  <%= @event.address %><br />
  <strong>Latitude:</strong>
  <%= @event.latitude %><br />
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>
<p>
  <strong>Start:</strong>
  <%= @event.start.strftime('%A') + ' at ' + @event.start_time.strftime('%I:%M %p') %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Info URL:</strong>
  <%= link_to @event.name, @event.info_url %>
</p>

<%= gmaps("markers" => { "data" => @markers}, "map_options" => {"setCenter" => @json, "auto_adjust" => true, "auto_zoom" => false, "zoom" => 16}) %>


<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_path %>
</p>

</body>